.Card {
  width: 150px;
  height: 150px;
  background-color: #666666;
  padding: 8px;
  color: #666666;
  position: absolute;

  &.isDark {
    color: #ffffff;
  }

  &_Header {
    display: flex;
    justify-content: space-between;
    padding: 2px 0 8px;
  }

  &_Trash {
    flex: 0 0 24px;
    cursor: pointer;
    text-align: center;
  }

  &_Handle {
    flex: 0 0 24px;
    cursor: move;
    text-align: center;
  }

  &_Color {
    flex: 0 0 24px;
    text-align: center;
  }

  .ColorPicker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #666;
    cursor: pointer;
    display: inline-block;

    &.isDark {
      border-color: #ffffff;
    }
  }

  textarea {
    &:invalid {
      border: 1px solid red;
    }
  }
}
