<mat-card class="Card ElementResize" [ngClass]="{ isDark: darkMode }" cdkDrag [cdkDragFreeDragPosition]="card.position"
  (cdkDragEnded)="dragEnd($event)" cdkDragBoundary=".Board_Boundary"
  [ngStyle]="{ 'background-color': card.color, 'width': card.size.width + 'px', 'height': card.size.height + 'px' }"
  [appElementResize]="card.size" (resizeEnded)="resize($event)">
  <div class="Card_Actions">
    <div class="Card_Handle" cdkDragHandle>
      <fa-icon icon="arrows-alt"></fa-icon>
    </div>
    <div class="Card_Color">
      <span class="ColorPicker" [ngClass]="{ isDark: darkMode }" [colorPicker]="card.color"
        [style.background]="card.color" [cpOutputFormat]="'hex'" [cpDisableInput]="card.lock"
        [cpUseRootViewContainer]="true" (colorPickerSelect)="changeColor($event)"></span>
    </div>
    <div class="Card_ActionSpace"></div>
    <div class="Card_Trash" (click)="delete(card.id)">
      <fa-icon icon="trash"></fa-icon>
    </div>
  </div>
  <mat-card-content class="Card_Contents">
    <ng-container *ngIf="editMode; else noEdit">
      <form [formGroup]="cardForm">
        <div matFormField appearance="fill">
          <textarea id="text" matInput (blur)="saveText()" formControlName="text" autofocus required cols="21" rows="8"
            minlength="500"></textarea>
          <mat-error *ngIf="cardText.errors?.required">内容は必須です</mat-error>
        </div>
      </form>
    </ng-container>
    <ng-template #noEdit>
      <p (click)="startEdit()">{{ card.text }}</p>
    </ng-template>
  </mat-card-content>
</mat-card>