.Card {
  width: 150px;
  height: 150px;
  background-color: #666666;
  color: #666666;
  position: absolute;
  padding: 0;
  display: flex;
  flex-direction: row;

  &.isDark {
    color: #ffffff;
  }

  &_Actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    font-size: 18px;
  }

  &_ActionSpace {
    flex: 1 0 auto;
  }

  &_Trash {
    flex: 0 0 30px;
    cursor: pointer;
  }

  &_Handle {
    flex: 0 0 30px;
    cursor: move;
  }

  &_Edit {
    flex: 0 0 30px;
    cursor: pointer;
  }

  &_Color {
    flex: 0 0 30px;
    cursor: pointer;
  }

  &_Contents {
    width: 100%;
    padding: 8px;
    margin: 0;
  }

  textarea {
    &:invalid {
      border: 1px solid red;
    }
  }
}

.ElementResize {
  resize: both;
  overflow: auto;
  min-width: 160px;
  min-height: 160px;
}
